@use './main' as vars;

.footer {
  padding: 10px 200px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: vars.$background-color;

  &.dark-mode {
    background-color: vars.$background-dark-color;
  }
}
