@use './main.scss' as vars;

.home-button {
  cursor: pointer;
  position: fixed;
  top: 10%;
  left: 10%;
  color: vars.$text-default-color;

  &.dark-mode {
    font-weight: bold;
    color: vars.$text-dark-color;
  }
}

.fade-in-home-button {
  animation: fade-in-home-button 1s ease-out forwards;

  @keyframes fade-in-home-button {
    from {
      transform: translateX(60px); // Adjust as needed
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}
